<div class="add-product-wrapper shadow whiteBG borderNone bRadius10 marginTB1rem padding">
    <div class="row">
        <div class="">
            <div class="collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 ">
                            <div class="project-tags-wrapper marginB12 d-flex flex-column">
                                <span class="po-date marginB12 grey font-weight-bold">Location Category</span>
                                <div class="tags-btn-wrapper">
                                    <a href="#" class="tag-btn btn lightGreyBG">Urban</a>
                                </div>
                            </div>
                            <div class="project-tags-wrapper marginB12 d-flex flex-column">
                                <span class="po-date marginB12 grey font-weight-bold">Academic Subject & Year</span>
                                <div class="tags-btn-wrapper">
                                    <a href="#" class="tag-btn btn lightGreyBG">BCM</a>
                                    <a href="#" class="tag-btn btn lightGreyBG">Final Year</a>
                                </div>
                            </div>
                            <div class="project-tags-wrapper marginB12 d-flex flex-column">
                                <span class="po-date marginB12 grey font-weight-bold">Year of completion</span>
                                <div class="tags-btn-wrapper">
                                    <a href="#" class="tag-btn btn lightGreyBG">2020</a>
                                </div>
                            </div>
                            <div class="project-tags-wrapper marginB1rem d-flex flex-column">
                                <span class="po-date marginB12 grey font-weight-bold">Acknowledgements</span>
                                <div class="tags-btn-wrapper marginB1rem d-flex flex-column">
                                    <span class="po-date marginB8 font-weight-light grey">Reference Links</span>
                                    <a href="https://www.google.com/url?sa=i&.." class="blackText marginB8">https://www.google.com/url?sa=i&..</a>
                                    <a href="https://www.google.com/url?sa=i&.." class="blackText">https://www.google.com/url?sa=i&..</a>
                                </div>
                                <div class="tags-btn-wrapper marginB1rem d-flex flex-column">
                                    <span class="po-date marginB8 font-weight-light grey">Guidance</span>
                                    <a href="#" class="blackText">@sandeepmahajan</a>
                                </div>
                                <div class="tags-btn-wrapper marginB1rem d-flex flex-column">
                                    <span class="po-date marginB8 font-weight-bold grey">Other Contributors</span>
                                    <div class="othe-auther d-flex flex-wrap">
                                      <a href="#">@sandeepmahajan, </a><a href="#">@drushtisingh, </a><a href="#">@sugandhar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="youtube-video-wrapper">
                                <iframe width="100%" height="280" src="https://www.youtube.com/embed/EsI3lBVOCz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="project-des marginT16">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <a data-toggle="collapse" class="collapse-btn collapsed d-block" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h2 class="fold-heading inline-block">Project Details</h2></a>

</div>
