<!-- <div class="project-sharing-wrapper marginT16 marginB2rem d-sm-flex d-xl-block d-md-block d-lg-block justify-content-sm-between">
                    <div class="d-flex justify-content-lg-around justify-content-md-around justify-content-sm-around d-align-center">
                        <div class="project-thumbs" (click)="liketoggle()">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <div class="project-like">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <div class="project-share">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        </div>
                        <div class="project-download d-none d-lg-block d-xl-block d-md-block">
                            <a class="pr-download-btn" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"><span class="">Download Entire Project</span> </a>
                        </div>
                    </div>
                    <div class="d-block d-lg-none d-xl-none d-md-none">
                        <div class="project-download">
                            <a class="pr-download-btn" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"><span class="">Download</span> </a>
                        </div>
                    </div>
                </div> -->
<div class="project-desc-wrapper d-flex justify-content-center">
    <div class="card-save-icon">
        <img src="assets/img/icon/Group1925.svg" alt="tooltip" title="Jury's Choice" data-toggle="tooltip" width="40"
            class="marginR7">
        <img src="assets/img/icon/Group2100.svg" alt="tooltip" title="Most Viewed" data-toggle="tooltip" width="40">
    </div>
</div>

<div class="project-counting-wrapper w-100 marginT16 marginB24 d-flex d-align-center flex-column">
    <div class="project-counting d-flex justify-content-between">
        <div class="like-section d-inline-block">
            <span class="lightGreytext material-icons font24">favorite</span>
            <span class="like-count font18 verticalMiddle grey">124</span>
        </div>
        <div class="rating-section d-inline-block">
            <span class="lightGreytext material-icons font24">grade</span>
            <span class="like-count font18 verticalMiddle grey">4.5</span>
        </div>
        <div class="rating-section d-inline-block">
            <span class="material-icons lightGreytext font24">textsms</span>
            <span class="like-count font18 verticalMiddle grey">44</span>
        </div>
        <div class="rating-section d-inline-block">
            <span class="material-icons lightGreytext font24">visibility</span>
            <span class="like-count font18 verticalMiddle grey">107</span>
        </div>
    </div>
</div>