<!-- Footer -->
<footer>
  <div class="footer-wrapper Row paddingTB4rem paddingB15">
      <div class="row">
          <div class="col-md-3">
              <div class="footer-col-wrapper">
                  <div class="footer-col-title">
                      <h3>Quick Links</h3>
                  </div>
                  <div class="footer-col-dec">
                      <ul>
                          <li><a href="#">Home</a> </li>
                          <li><a routerLink="/explore-project">Explore Projects</a> </li>
                          <li><a routerLink="/talk-view">Art n Skills Talk</a> </li>
                          <li><a routerLink="/news-Update">Latest News</a> </li>
                          <li><a href="#">Institutes</a> </li>
                          <li><a href="#">Opportunities</a> </li>
                          <li><a href="#">Post Opportunities</a> </li>                                        
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-col-wrapper">
                  <div class="footer-col-title">
                      <h3>Information</h3>
                  </div>
                  <div class="footer-col-dec">
                      <ul>
                          <li><a href="#">Art n Skills Story</a> </li>
                          <li><a href="#">Jury Panel</a> </li>
                          <li><a href="#">How to Use</a> </li>                                       
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-col-wrapper">
                  <div class="footer-col-title">
                      <h3>Legal</h3>
                  </div>
                  <div class="footer-col-dec">
                      <ul>
                          <li><a href="#">Disclaimer</a> </li>
                          <li><a href="#">Privacy Policy</a> </li>
                          <li><a href="#">Terms and Conditions</a> </li>
                          <li><a href="#">Copyright Information</a> </li>                                      
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-col-wrapper">
                  <button class="btn btn btn-sm bg-primary-clr hovergreytext marginB2rem">Login / Register</button>
                  <div class="footer-col-title marginB2rem">
                      <h3>Get Social With Us!</h3>
                  </div>
                  <div class="footer-social-icon-wrapper">
                      <a href="#" class="social-icon marginR7" style="background-color: #4D5A6D;padding:14px 17px;border-radius: 25px;">
                           <i class="fa fa-facebook"></i>
                      </a>
                      <a href="#" class="social-icon marginR7" style="background-color: #4D5A6D;padding: 14px;border-radius: 25px;">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" class="social-icon" style="background-color: #4D5A6D;padding:14px 17px;border-radius: 25px;">
                          <i class="fa fa-linkedin"></i>
                      </a>
                      
                  </div>
              </div>
          </div>
          <hr>
          <div class="col-mg-12 col-lg-12 col-sm-12">
              <div class="copyright-wrapper paddingT2rem">
                  <p class="text-center grey font14">Copyright © 2022 Art N Skills. All Rights Reserved.</p>
              </div>
          </div>
      </div>

  </div>
</footer>
