.footer-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}
.footer-col-dec ul li {
    list-style: none;
    line-height: 2;
}
label, a {
    color: #4D5A6D;
}
.footer-col-title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #4D5A6D;
    margin-bottom: 0.7em;
}
.btn-sm {
    color: #fff;
    padding: 7px 26px;
    border-radius: 25px;
}
.btn {
    font-size: 16px;
    font-family: Rubik;
    border: none;
}
.bg-primary-clr {
    background-color: #E54C38;
}
.marginB2rem {
    margin-bottom: 2rem;
}
.footer-social-icon-wrapper a i {
    color: #fff;
}
.marginR7 {
    margin-right: 7px;
}
.copyright-wrapper {
    border-top: 1px solid #33333329;
}

.paddingT2rem {
    padding-top: 2rem !important;
}