    <div id="wrapper">
        <div id="loginPage">
            <main id="main">
                <app-login-form></app-login-form>
                <app-platform-work></app-platform-work>
            </main>
            <div class="feedback">
                <div class="sticky-wrapper">
                  <a (click)="checkLogin()" class="add-project-btn">
                    <span class="material-icons">add</span>
                  </a>
                  <p class="pro-text">Create Project</p>
                </div>
            </div>

        </div>
    </div>

