    <div class="fold-3 paddingTB4rem">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-lg-between align-items-center featured-colleges marginB2rem justify-content-sm-center">
                        <h2 class="fold-heading text-center text-lg-left text-sm-center">Featured Colleges</h2>
                        <div class="view-all-btn d-none d-lg-block d-xl-block">
                            <span>
                                <a href="#" class="view-all primary-clr">View All</a>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 marginB2rem">
                    <div class="card-wrapper">
                        <div class="card-img-1"></div>
                        <div class="card-text-wrapper d-flex justify-content-center paddingTB30">
                            <h3 class="margin0"><a href="#">MMCOA, Pune University</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 marginB2rem">
                    <div class="card-wrapper">
                        <div class="card-img-2"></div>
                        <div class="card-text-wrapper d-flex justify-content-center paddingTB30">
                            <h3 class="margin0"><a href="#">SEDRAA, Pune University</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 marginB2rem">
                    <div class="card-wrapper">
                        <div class="card-img-3"></div>
                        <div class="card-text-wrapper d-flex justify-content-center paddingTB30">
                            <h3 class="margin0"><a href="#">BNCA, Pune University</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 d-block d-lg-none d-xl-none">
                    <div class="d-flex marginB2rem justify-content-center">
                        <div class="view-all-btn">
                            <span>
                                <a href="#" class="view-all primary-clr">View All</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- IMG AD's Fold -->
    <div class="img-fold container"> 
        <div class="row">
            <div class="col-md-12">
                <div class="text-center ad-img">
                <img src="assets/img/Group-598.png" class="w-100" style="max-width:970px;" >
                </div>
            </div>
        </div>
    </div>

