<div id="wrapper">
  <div id="exploreProject">
    <main id="main">
      <app-profile-cover
        [user_handle]="user_handle"
        [first_name]="first_name"
        [last_name]="last_name"
      ></app-profile-cover>
      <app-project-profile
        [cover_description]="cover_description"
        [college_name]="college_name"
        [profile_pic]="profile_pic"
        [linked_in_handle]="linked_in_handle"
        [insta_handle]="insta_handle"
        [ug_pg]="ug_pg"
        [university]="university"
        [follower_count]="follower_count"
      ></app-project-profile>
    </main>
  </div>
</div>
