<!-- <div id="wrapper">
    <div id="home">
        <main id="main" class="portpholio-page exlightGreyBG">
            <section class="fold-wrapper d-flex portpholio-page-fold-1 paddingTB4rem">
                <div class="container Row">

                    <div class="container main-secction">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                                <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/facebook-cover/template_1.jpg" width="100%" *ngIf="cover_pic == null">
                                <img src="{{ cover_pic }}" width="100%" *ngIf="cover_pic != null">

                            </div>
                                <div class="col-md-8 col-sm-8 col-xs-12 user-profil-part pull-left">
                                    <br>
                                    <p *ngIf="cover_description != null">{{ cover_description }}</p>
                                    <p *ngIf="college_name != null">{{ college_name }}</p>
                                    <p>Social Media </p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 pull-right profile-right-section">
                                    <div class="row profile-right-section-row">
                                        <div class="col-md-12 profile-header">
                                            <div class="row ">
                                                <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                                                    <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle" *ngIf="profile_pic == null">

                                                    <img src="{{ profile_pic }}" class="rounded-circle" *ngIf="profile_pic != null">

                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center mt-20">

                                                    <div class="row user-detail-row">
                                                        <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                                            <p *ngIf="first_name != null">{{ first_name }}</p>
                                                            <p *ngIf="username != null" >{{ username }}</p>
                                                            <p *ngIf="badges != null">{{ badges }}</p>

                                                        </div>                           
                                                    </div>
                                                    <br>
    
                                                    <button class="btn btn-sm greyBG">Edit Profile</button> 
                                                    <br> <br>
                                                    <button class="btn btn-sm bg-primary-clr">Create New Project</button>                               
                                                </div>
                                               
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    

                </div>
            </section>
        </main>
    </div>
</div> -->

<div id="wrapper">
  <div id="exploreProject">
    <main id="main">
      <section
        class="
          fold-wrapper
          explore-page-banner-image
          fold-1
          profile-page-banner
        "
      >
        <div class="Row">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="w-1280 d-align-center paddingLR15">
                <div class="d-flex direction-col">
                  <h3 class="heading text-center text-white font-weight-bold">
                    Whatever good things we build end up building us.
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6 col-sm-none">
              <div class="w-1280 paddingLR15 d-flex align-items-center">
                <div class="d-flex direction-col marginR12">
                  <h3 class="heading text-white mb-0 font-weight-bold">
                    Divya Jain
                  </h3>
                  <div class="card-id">
                    <a href="#" class="whiteTestColor">@amarshastri</a>
                  </div>
                </div>
                <div class="portpholio-achive-img">
                  <img
                    src="assets/img/icon/Group684@2x.png"
                    class="rounded-circle marginR12"
                    width="48px"
                    height="48px"
                  />
                  <img
                    src="assets/img/icon/Group687@2x.png"
                    class="rounded-circle"
                    width="48px"
                    height="48px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="profile-desrc-wrapper fold-wrapper paddingB2rem">
        <div class="Row">
          <div class="row margin0 justify-content-between">
            <div
              class="
                col-lg-8 col-sm-12 col-md-8
                order-sm-2 order-md-1 order-lg-1 order-xl-1
              "
            >
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore.
              </p>
              <p class="grey font-weight-bold marginB12">
                22 years old | UG - Final Year Student
              </p>
              <p class="grey font-weight-bold marginB12">
                MMCOA, Pune University | Pune
              </p>
              <p class="grey font-weight-bold marginB1rem">
                Architecture Design l Mathematics | 3D Rendering and Design
              </p>

              <div class="social-media-wrapper d-flex">
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-between
                    social-connect
                  "
                >
                  <p class="mb-0 grey">Social Connect</p>
                  <div class="social-icon-wrapper d-flex">
                    <a href="#" class="greyBG rounded-circle social-icon">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="greyBG rounded-circle social-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="greyBG rounded-circle social-icon">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a
                      href="#"
                      class="
                        greyBG
                        rounded-circle
                        social-icon
                        d-sm-block d-md-none d-lg-none d-xl-none
                      "
                    >
                      <i class="fa fa-share-alt"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="
                    d-flex
                    social-connect
                    d-sm-none d-md-block d-lg-block d-xl-block
                  "
                >
                  <div class="d-flex align-items-center">
                    <p class="mb-0 marginR1rem grey">Share Profile</p>
                    <div class="social-icon-wrapper">
                      <a href="#" class="greyBG rounded-circle social-icon">
                        <i class="fa fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="
                    col-xl-3
                    col-lg-5
                    col-md-6
                    col-xl-none
                    col-lg-none
                    col-md-none
                    col-sm-block
                  "
                >
                  <div class="d-flex marginT16">
                    <div
                      class="
                        project-btn-wrapper
                        d-flex d-align-center
                        flex-column
                        width100
                      "
                    >
                      <button
                        class="
                          paddingTB1rem
                          marginB10
                          btn
                          greyBG
                          whiteTestColor
                          bRadius25
                          font15
                          btn-block
                        "
                      >
                        Send Message
                      </button>
                      <button
                        class="
                          paddingTB1rem
                          marginB12
                          mt-0
                          btn
                          bg-primary-clr
                          whiteTestColor
                          font15
                          bRadius25
                          btn-block
                        "
                      >
                        Follow on Art n Skills
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="
                  col-xl-3
                  col-lg-5
                  col-md-6
                  col-xl-none
                  col-lg-none
                  col-md-none
                  col-sm-block
                "
              >
                <div class="d-flex person-info">
                  <div class="d-flex flex-column">
                    <div class="profile-pic-wrapper">
                      <img
                        src="assets/img/profiles/MaskGroup78@2x.png"
                        class="rounded-circle"
                        width="100px"
                        height="100px"
                      />
                    </div>
                    <p class="grey">
                      Followers - <span class="font-weight-bold">12</span>
                    </p>
                  </div>

                  <div class="paddingLR15 d-flex flex-column">
                    <div class="d-flex direction-col marginR12">
                      <h3 class="heading text-white mb-0 font-weight-bold">
                        Divya Jain
                      </h3>
                      <div class="card-id">
                        <a href="#" class="whiteTestColor">@amarshastri</a>
                      </div>
                    </div>
                    <div class="portpholio-achive-img marginT10">
                      <img
                        src="assets/img/icon/Group684@2x.png"
                        class="rounded-circle marginR12"
                        width="40px"
                        height="40px"
                      />
                      <img
                        src="assets/img/icon/Group687@2x.png"
                        class="rounded-circle"
                        width="40px"
                        height="40px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="
                col-lg-3 col-sm-12 col-md-4
                order-sm-1 order-md-2 order-lg-2 order-xl-2
                col-sm-none col-lg-block col-md-block
              "
            >
              <div
                class="
                  person-info
                  d-flex
                  justify-content-center
                  flex-column
                  align-items-center
                "
              >
                <div class="profile-pic-wrapper">
                  <img
                    src="assets/img/profiles/MaskGroup78@2x.png"
                    class="rounded-circle"
                    width="170px"
                    height="170px"
                  />
                </div>
                <p class="grey">
                  Followers - <span class="font-weight-bold">12</span>
                </p>
                <div
                  class="
                    project-btn-wrapper
                    d-flex d-align-center
                    flex-column
                    width100
                  "
                >
                  <button
                    class="
                      paddingTB1rem
                      marginB12
                      btn
                      greyBG
                      whiteTestColor
                      bRadius25
                      font15
                      btn-block
                    "
                  >
                    Send Message
                  </button>
                  <button
                    class="
                      paddingTB1rem
                      marginB12
                      btn
                      bg-primary-clr
                      whiteTestColor
                      font15
                      bRadius25
                      btn-block
                    "
                  >
                    Follow on Art n Skills
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
