
            <section class="fold-wrapper explore-page-banner-image fold-1 profile-page-banner">
                <div class="Row">
                    <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="w-1280 d-align-center paddingLR15">
                            <div class="d-flex direction-col">
                                <h3 class="heading text-center text-white font-weight-bold">Whatever good things we build end up building us.</h3> 
                            </div>
                        </div>
                    </div>
                        
                    </div>
                    <div class="row">
                    <div class="col-xl-3 col-lg-5 col-md-6 col-sm-none">
                        <div class="w-1280 paddingLR15 d-flex align-items-center">
                            <div class="d-flex direction-col marginR12">
                                <h3 class="heading text-white mb-0 font-weight-bold" *ngIf="first_name != null && last_name != null">{{first_name}} {{last_name}}</h3> 
                                <div class="card-id">
                                    <a href="#" class="whiteTestColor" *ngIf="user_handle != null">{{ user_handle }}</a>
                                </div>
                            </div>
                            <div class="portpholio-achive-img">
                                <img src="assets/img/icon/Group684@2x.png" class="rounded-circle marginR12" width="48px" height="48px">
                                <img src="assets/img/icon/Group687@2x.png" class="rounded-circle" width="48px" height="48px">
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
            </section>
