<section>
    <div class="container fold-wrapper platform-fold Row">
        <div class="text-center">
            <h2 class="fold-heading">How Platform Works?</h2>
        </div>
       <div class="row">
           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 marginB2rem">
               <div class="platforms-wrapper d-flex flex-column paddingLR15">
                   <div class="img-wrapper text-center">
                       <img src="assets/img/portfolio.png" class="platform-img" style="max-width:470px;">
                   </div>
                   <h3 class="fold-title grey">Build Your Smart Portfolio</h3>
                   <p class="text-center grey mb-0">Exhibit the range of your work by listing all your academic projects on the Art n Skills portfolio platform.</p>
               </div>
           </div>

           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 marginB2rem">
               <div class="platforms-wrapper d-flex flex-column paddingLR15">
                   <div class="img-wrapper text-center">
                       <img src="assets/img/rating.png" class="platform-img" style="max-width:470px;">
                   </div>
                   <h3 class="fold-title grey">Share Your Work And Get Feedback</h3>
                   <p class="text-center grey mb-0">Showcase your skills to eminent industry professionals and get insightful reviews and opinions.</p>
               </div>
           </div>

           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 marginB2rem">
               <div class="platforms-wrapper d-flex flex-column paddingLR15">
                   <div class="img-wrapper text-center">
                       <img src="assets/img/browsing.png" class="platform-img" style="max-width:470px;">
                   </div>
                   <h3 class="fold-title grey">Browse Projects And Get Inspired</h3>
                   <p class="text-center grey mb-0">Check out amazing projects uploaded on the platform to inspire the creative bug inside you.</p>
               </div>
           </div>

           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 marginB2rem">
               <div class="platforms-wrapper d-flex flex-column paddingLR15">
                   <div class="img-wrapper text-center">
                       <img src="assets/img/opportunities.png" class="platform-img" style="max-width:470px;">
                   </div>
                   <h3 class="fold-title grey">Explore Opportunities</h3>
                   <p class="text-center grey mb-0">Supercharge your career by finding exciting and challenging internships or job opportunities.</p>
               </div>
           </div>
       </div>
    </div> 
</section>

