<section class="fold-wrapper explore-page-banner-image fold-1 d-flex explore-project">
    <div class=" d-flex container d-align-center">
        <div class="row align-self-sm-end align-self-md-center">
            <div class="col-xl-3 col-lg-2 col-md-1"></div>
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="w-1280 d-align-center paddingLR15">
                    <div class="d-flex direction-col">
                        <h3 class="heading text-center text-white font-weight-bold Alegreya-font">Gain Inspiration from Ingenious and Innovative Projects</h3> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>