.bg-primary-clr {
    background-color: #E54C38;
}
.card-wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
}
.paddingLR10I {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.paddingLR15 {
    padding-left: 15px !important;
    padding-right: 15px;
}
.fold-3 .card-wrapper .card-text-wrapper h3 {
    font-size: 18px;
    font-weight: 700;
    background-color: #000;
    margin-top: -30px;
    display: inline-block;
    color: #fff;
    z-index: 2;
}
.whiteTestColor {
    color: #fff !important;
}
.marginB2rem {
    margin-bottom: 2rem;
}
.btn-sm {
    color: #fff;
    padding: 7px 26px;
    border-radius: 25px;
}
.marginB10 {
    margin-bottom: 10px;
}
.grey {
    color: #4D5A6D !important;
}

.news-dec p {
    font-size: 18px;
}
.btn-sm {
    color: #fff;
    padding: 7px 26px;
    border-radius: 25px;
}
.btn {
    font-size: 16px;
    font-family: Rubik;
    border: none;
}
.bg-primary-clr {
    background-color: #E54C38;
}
.news-card-img:last-child  {
    max-width: 175px;
    margin: 0px auto;
}