<div class="gallery-item-wrapper item-1 marginB1rem">
    <a href="assets/img/Mask-Group-44.jpg" data-lightbox="photos">
        <img src="assets/img/Mask-Group-44.jpg" width="100%" height="" alt="" class="gallery-item img-fluid">

        <div class="img-id-wrapper">
            <div class="img-id">
                <span>{{ user_handle }}</span>
            </div>
        </div>
    </a>
</div>

<!-- <div class="gallery-item-wrapper item-2 marginB1rem">
                    <a href="assets/img/Mask-Group-45.jpg" data-lightbox="photos"> 
                        <img src="assets/img/Mask-Group-45.jpg" width="100%" height="" alt="" class="gallery-item"> 
                        <div class="img-id-wrapper">
                            <div class="img-id">
                                <span>@aspiringarchitect</span>
                            </div>
                        </div>
                        <div class="img-desc">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                    </a>   
                </div>

                <div class="gallery-item-wrapper item-1 marginB1rem">
                    <a href="assets/img/Mask-Group-46.jpg" data-lightbox="photos"> 
                        <img src="assets/img/Mask-Group-46.jpg" width="100%" height="" alt="" class="gallery-item"> 
                        <div class="img-id-wrapper">
                            <div class="img-id">
                                <span>@aspiringarchitect</span>
                            </div>
                        </div>
                    </a>
                </div> -->