.fold-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.paddingTB4rem {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hide {
    display: none !important;
}
.show {
    display: block !important;
}