<div class="whiteBG borderNone main-header fixed-top">
  <nav class="navbar navbar-expand-lg main-menu navbar-light Row">
    <div class="logo-wrapper">
      <a class="logo-link" routerLink="/">
        <img
          src="assets/img/logo/artnskills_logo.png"
          width="77"
          height="75"
          alt="Art N Skills Logo"
          data-retina_logo_url=""
          class="standard-logo"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="form-inline mr-auto my-2 my-lg-0">
        <div class="search-box-wrapper">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback grey"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search Projects"
            />
          </div>
        </div>
      </form>

      <app-menu></app-menu>
    </div>
  </nav>
</div>
