.bg-primary-clr {
    background-color: #E54C38;
}
button.lightGreyBG:hover{
    background-color: #989ea5;
}
.bRadius25 {
    border-radius: 25px;
}
.paddingTB1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
