


/* Mobile */
@media only screen and (max-width: 425px) {
    .portpholio-page .portpholio-page-fold-1 {
        padding: 2rem 0px;
    }
    main.portpholio-page .portpholio-page-fold-1 .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

}