<div class="home-jury-panel">
    <div class="fold-4 paddingTB4rem team-card-layout">
        <div class="container m-990">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fold-heading text-center">
                        Our Esteemed Jury Panel for the Week
                    </h2>
                </div>
            </div>

            <div class="row marginT2rem justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-11">
                    <div class="team-card-wrapper px-md-2">
                        <div class="team-profile-img d-flex flex-column">
                            <img src="assets/img/1.jpg" class="w-100" style="max-width: 234px; margin: 0 auto" />
                            <div class="team-profile-text-wrapper bg-primary-clr d-flex justify-content-between align-items-center">
                                <div class="team-profile-text">
                                    <p class="profile-name font-weight-bold">
                                        Prof. Sanjay SIngh
                                    </p>
                                    <p class="profile-desig">HOD, College Name</p>
                                </div>
                                <div class="team-social-icon">
                                    <a href="#">
                                        <img src="assets/img/linkdin.png" class="linkdin-icon" style="width: 20px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-7 col-sm-11">
                    <div class="team-card-wrapper px-md-2">
                        <div class="team-profile-img d-flex flex-column">
                            <img src="assets/img/3.jpg" class="w-100" style="max-width: 234px; margin: 0 auto" />
                            <div class="team-profile-text-wrapper greenBG d-flex justify-content-between align-items-center">
                                <div class="team-profile-text">
                                    <p class="profile-name font-weight-bold">Ar. Sanjana Desai</p>
                                    <p class="profile-desig">Firm Name</p>
                                </div>
                                <div class="team-social-icon">
                                    <a href="#">
                                        <img src="assets/img/linkdin.png" class="linkdin-icon" style="width: 20px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-7 col-sm-11">
                    <div class="team-card-wrapper px-md-2">
                        <div class="team-profile-img d-flex flex-column">
                            <img src="assets/img/2.jpg" class="w-100" style="max-width: 234px; margin: 0 auto" />
                            <div class="team-profile-text-wrapper blueBG d-flex justify-content-between align-items-center">
                                <div class="team-profile-text">
                                    <p class="profile-name font-weight-bold">Ar. Ashwin T.</p>
                                    <p class="profile-desig">Visiting Faculty</p>
                                </div>
                                <div class="team-social-icon">
                                    <a href="#">
                                        <img src="assets/img/linkdin.png" class="linkdin-icon" style="width: 20px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>