.bg-primary-clr {
    background-color: #E54C38;
}
.btn-sm {
    color: #fff;
    padding: 7px 26px;
    border-radius: 25px;
}

.blue-fold {
    background: transparent radial-gradient(closest-side at 50% 50%, #9DE8E3 0%, #69C6CA 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.paddingTB4rem {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.paddingLR3rem {
    padding-left: 3rem;
    padding-right: 3rem;
}
.blue-fold .blue-text-wrapper h2.fold-heading {
    text-align: left;
    font-size: 36px;
    opacity: 1;
    color: #4D5A6D;
    font-weight: 700;
    text-transform: none;
}

.marginB1rem {
    margin-bottom: 1rem;
}
.Alegreya-font {
    font-family: 'Alegreya Sans', sans-serif !important;
}

.btn-sm {
    color: #fff;
    padding: 7px 26px;
    border-radius: 25px;
}
.btn {
    font-size: 16px;
    font-family: Rubik;
    border: none;
}