<div class="blue-fold paddingTB4rem">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12">
        <div class="img-wrapper">
          <img src="assets/img/hiring.png" />
        </div>
      </div>
      <div class="col-md-6 col-lg-8 col-xl-8 col-sm-12 paddingLR3rem">
        <div class="blue-text-wrapper">
          <h2 class="fold-heading marginB1rem Alegreya-font">
            Fresh Talent. New Perspectives.
          </h2>
          <p class="">
            Networking and engaging with exciting talents in the architecture
            field is now easier. Art n Skills is your go-to platform to find out
            and connect with the most skilled architecture students online.
          </p>
        </div>
        <div class="row">
          <div class="col-md-12 marginT2rem">
            <button class="btn btn btn-sm bg-primary-clr hovergreytext">
              Post Opportunities
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
